@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@import'config';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Space Mono', monospace;
}
body {
    background-color: $Light-grayish-cyan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    .logo {
        padding-bottom: 60px;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        width: 60%;
        min-height: 400px;
        background-color: $White;
        margin: 0 auto;
        border-radius: 20px;
        padding: 25px;
        .left-input {
            width: 50%;
            height: auto;
            border-radius: 15px;
            padding: 20px 35px 20px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            p {
                margin-bottom: 0;
            }
            .nopeople {
                margin-top: 20px;
            }
            input {
                margin-top: 0;
                margin-bottom: 10px;
                width: 100%;
                height: 40px;
                border-radius: 5px;
                outline: none;
                border: none;
                background-color: $Lighter-grayish-cyan;
            }
            .low-tip {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .btn-low-tip {
                    color: $Lighter-grayish-cyan;
                    min-width: 31%;
                    height: 40px;
                    border: none;
                    border-radius: 6px;
                    margin-bottom: 10px;
                    background-color: $very-dark-cyan;
                    cursor: pointer;
               } 
            }
            .high-tip {
                display: flex;
                justify-content: space-between;
                width: 100%;
                .btn-high-tip {
                    color: $Lighter-grayish-cyan;
                    min-width: 31%;
                    height: 40px;
                    border: none;
                    border-radius: 6px;
                    margin-bottom: 10px;
                    background-color: $very-dark-cyan;
                    cursor: pointer;
               } 
               .btn-custom {
                   font-weight: 700;
                   color: $very-dark-cyan;
                   background-color: $Lighter-grayish-cyan;
               }
            }
        }
        .right-output {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 15px;
            padding: 25px;
            background-color: $very-dark-cyan;
            .right-wrapper {
                .tip-title {
                    color: white;
                    display: flex;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .tip-amount {
                        p.green {
                            color: $light-dark-grayish-cyan;
                        }
                    }
                    .tip {
                        font-size: 40px;
                        color: $Strong-cyan;
                    }
                }
                .total-tip-amount {
                    color: white;
                    display: flex;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .total-tip {
                        p.green {
                            color: $light-dark-grayish-cyan;
                        }
                    }
                    .tipT {
                        font-size: 40px;
                        color: $Strong-cyan;
                    }
                }
            }
            .btn-reset {
                width: 100%;
                height: 40px;
                background-color: $dark-grayish-cyan;
                color: $very-dark-cyan;
                font-weight: 700;
                font-family: inherit;
                font-size: 18px;
                border: none;
                border-radius: 8px;
                cursor: pointer;
            }    
        }
    }   
}
@media(max-width: 1000px) {
    body {
        background-color: $Light-grayish-cyan;
        .logo {
            padding-bottom: 60px;
        }
        .wrapper {
            width: 95%;
        }
    }
}